<h1>Yangi foydalanuvchini tasdiqlash</h1>
<p>Salom Admin, yangi foydalanuvchi ro‘yxatdan o‘tdi:</p>
<ul>
  <li>Ismi: {{name}}</li>
  <li>Email: {{email}}</li>
</ul>
<p>Hisobni faollashtirish uchun quyidagi havolani bosing:</p>
<a href="{{url}}" style="padding: 10px 20px; background: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">
  Faollashtirish havolasi
</a>
